{% load staticfiles %}

<!DOCTYPE html>

<html ng-cloak ng-app="arkiwiApp">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}"/>
  <link rel="stylesheet" href="{% static 'app/bower_components/flatstrap3/dist/css/bootstrap.min.css' %}"/>
  
  
  <title>arkiwi - beta</title>
 
  <script src="{% static 'app/bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'app/bower_components/autofill-event/src/autofill-event.js' %}"></script>
  
  
  <script src="{% static 'app/bower_components/angular/angular.min.js' %}"></script>
  <script src="{% static 'app/bower_components/angular-animate/angular-animate.min.js' %}"></script>
  <script src="{% static 'app/bower_components/angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'app/bower_components/angular-route/angular-route.min.js' %}"></script>
	
   <script src="{% static 'app/bower_components/restangular/dist/restangular.min.js' %}"></script>
   <script src="{% static 'app/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js' %}"></script>

  <script src="{% static 'app/js/third-party/ui-bootstrap-tpls-0.9.0.min.js' %}"></script>
  <script src="{% static 'app/js/third-party/ngAutocomplete.js' %}"></script>
  <script src="{% static 'app/js/third-party/markerclusterer_packed.js' %}"></script>
    
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <script src="{% static  'app/bower_components/lodash/dist/lodash.underscore.min.js' %}"></script>
  <script src="{% static  'app/bower_components/angular-google-maps/dist/angular-google-maps.min.js'%}"></script>
    
  <script src="{% static 'app/js/app.js' %}"></script>
  <script src="{% static 'app/js/services.js' %}"></script>
  <script src="{% static 'app/js/directives.js' %}"></script>
  <script src="{% static 'app/js/controllers.js' %}"></script>
  <script src="{% static 'app/js/filters.js' %}"></script>
  <script src="{% static 'app/js/authentication.js' %}"></script>    
  
</head>
  
<body>

<!-- start menu -->	  
 <div ng-controller="MenuCtrl" ng-style="topmenustyle()">

<!-- left topmenu -->	  
	<div id="topmenu">
      <a href="/" ng-click="reInit()"><img src="{% static 'app/images/logo.png' %}"></a>
    	<div id="leftmenu">

			<div class="btn-group">
			  <button type="button" class="btn" onclick="window.location.href='#/map'"><span class="glyphicon glyphicon-globe"></span></button>
			  <button type="button" class="btn" onclick="window.location.href='#/'"><span class="glyphicon glyphicon-th"></span></button>
			</div>
			
            <label ng-if="atHome()" id="only-img" class="btn btn-default">
                <input type="checkbox" ng-model="onlyImg" ng-click="toggleOnlyImg()"> only with image </input>
            </label>
			
		</div>
		
<!-- middle topmenu -->
      	<div id="middlemenu">
			<a ng-click="searchboxShow()">search</a>
	  	</div>
	    <div id="searchbox" ng-show="searchboxVisibility()" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
			<button type="button" class="btn" ng-click="searchboxHide()"><span class="glyphicon glyphicon-minus"></span> hide</button>
			<div ng-include src="'/static/app/partials/search.html'"></div>
	    </div>

<!-- right topmenu -->	  
  		<div id="rightmenu">
		    <div >
				
		  		<div ng-if="isLogged">
					{% verbatim %}
					<button type="button" class="btn" ng-click="menuShow()"><span class="glyphicon glyphicon-plus"></span></button>
					<button type="submit" class="btn btn-default" ng-click="logout()">logout {{ username }}</button>
					{% endverbatim %}
		  		</div>
				
		        <div ng-hide="isLogged">
		            <form id="id_auth_form" class="navbar-form navbar-right" ng-submit="login()">
						
		                <div class="form-group">
		                    <input ng-model="username" required name="username" type="text" placeholder="username" class="form-control">
		                </div>
						
		                <div class="form-group">
		                    <input ng-model="password" required name="password" type="password" placeholder="password" class="form-control">
		                </div>
						
		                <div class="btn-group">
		                    <input type="submit" class="btn btn-default" value="login">
		                    <input type="submit" class="btn btn-default" value="register" ng-click="register($event)">
		                </div>
		            </form>
		        </div>
		    </div>
		</div>  
    </div>

<!-- left column menu -->	  
    <div id="leftcolumn" ng-show="menuVisibility()" ng-style="leftcolumnstyle()" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
		  <div ng-include src="'/static/app/partials/add.html'"></div>
	  <a ng-click="menuHide()" class="closebutton">&lt;&lt;&lt;</a>
    </div>
 </div> 
<!-- end menu -->	  

<!-- content -->	  
<div ng-view id="column3" keep-scroll-pos ng-style="column3style()"></div>
</body>
</html>