{% load staticfiles %}

<!DOCTYPE html>

<html ng-app="jsApp">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
  <title>arKiwi rocks with js in frontend</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
  <script src="{% static 'app/js/app.js' %}"></script>
  <script src="{% static 'app/js/controllers.js' %}"></script>
  <script src="{% static 'app/js/style.js' %}"></script>
</head>

<body>
	
{% verbatim %}

<div id="column1" >
  <p>column1</p>
</div>

<div id="column2">
  <p>column2</p>
</div>

<div id="column3" ng-controller="RequestCtrl">
  <div class="project" ng-style="{{ myStyle }}">{{ info_show }}</div>
  <div class="project" ng-style="{{ myStyle }}" ng-repeat="i in info_show2">
     {{bidon[i]}}
  </div>
  <div class="project" ng-style="{{ myStyle }}" ng-controller="ImagesCtrl" ng-repeat="image in images" >
    <img ng-src="{{image.path}}">hello dd
  </div>
</div>



{% endverbatim %}
</body>

</html>