/* cf. http://angular-ui.github.io/bootstrap/ :*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* **** IMAGE POP-UP OVERRIDES **** */

.modal-dialog {
	position: absolute;
	width: 100% !important;
	text-align: center;
}

.modal-content {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin-left: auto;
	margin-right: auto;
}

.modal-header {
	width: 100%;
	max-height: none;
	max-width: none;
}

.modal-body {
	max-height: none;
	max-width: none;
	width: 100%;
	overflow-y: auto;
} 

.modal-footer{
	width: 100%;
	max-width: none;
}


/* **** MAIN **** */

html, body {
    height:100%;
}

body {
	font: normal 12px Helvetica, Verdana;
	margin:0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
} 

body a {
	color:black;
	text-decoration: none;
	text-align: left;
}

body a:hover {
	color: #7fbc41;
	text-decoration: none;

}

h1 {
	font: bold 14px Verdana;
}

.link {
	color:green;
}

#column1 {
	float:left;
	position: fixed;
	top:0px;
	bottom:0px;
	left:0px;
	background:#F0F0F0;
	text-align: center;
	border-right: 1px solid #E0E0E0;
}

#column1 .menuitem {

	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	padding-top: 7px;
	padding-bottom: 7px;

}

#column1 img {

	width: 80%;
	margin-top:15px;
	padding-bottom: 15px;

}

#column2 {
	position: fixed;
	top:0px;
	bottom:0px;
	left:80px;
	background:#F8F8F8;
	border-right: 1px solid #F0F0F0;
}

#column2 form {
	margin: 12px;
}

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
     
.animate-enter.animate-enter-active {
	opacity: 1;
}

#column2 p {
	margin:20px;
}

#column2 input {
	width: 100%;
	margin-bottom: 20px;
}

#column3 {
	float: right;
	text-align: center;
	height: 100%;
}

#project-list {
	margin-top: 50px;
}

#projectWrapperOut {
	width: 100%;
	float:right;
	text-align: right;
}

#projectWrapperIn {
	text-align: left;
	width: 90%;
	display: inline-block;
}

.project {

	border-radius: 3px;
	display: inline-block;
	margin: 10px 27px 10px 27px;
	background-color: white;
	vertical-align: text-top;
	
}

.project .img-container {
	width: 400px;
	height: 300px;
	text-align: center;
}

.fade-img {
	
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}


.fade-img:hover {
	background-color: #bbb;
	-webkit-opacity: 0.9;
	-moz-opacity: 0.9;
	opacity: 0.9;
}

.fade-no-img {
	
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}


.fade-no-img:hover {
	background-color: #bbb;
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}

.project .caption {
	margin: 9px 10px 10px 2px;
	padding-bottom: 15px;
	text-align: left;
}

.project .caption .project_name {
	color: #333;
	font-size: 13px;
	float: left;
}

.project .caption .project_architect {
	color: #888;
	font-size: 13px;
	margin-left:10px;
	float: left;
	
	
}

.closebutton {
	position: absolute;
	bottom:0px;
	padding: 10px;
	left: 0px;
	right: 0px;
	background: #FF6633;
	text-align: center;
	cursor: pointer;
}

.closebutton:hover {
	color:black;
	background-color: #FF5533;
}

.login {
	position: fixed;
	width:60px;
	text-align: center;
	bottom:0px;
	padding: 10px;
	border-top: 1px solid #E0E0E0;
	cursor: pointer;
}

#login-bar {
	vertical-align: top;
}

.project-detail {
	float: left;
	text-align: left;
	margin-left: 100px;
}

.modal-img {
	max-width: 1400px;
	max-height: 1000px;
	
}

.zoom-in {
	cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
}

#noresult {
	display: inline-block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;

}

.project-detail-container-container {
	
	margin-top: 70px;
	width: 80%;
    height:100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#project-title-bar {
    margin: 0;
    text-align: left;
    width: 878px;
    overflow: auto;
    margin-bottom: 50px;
}

#project-title-bar h1 {
    margin: 0;
    float: left;
    min-height: 50px;
}

#project-title-bar .btn-group {
    float: right;
    margin-left: 50px;
    margin-top: 5px;
}

#project-detail-container {
    margin-top: 100px;
}

.project-detail{
    clear: both;
    margin: 0;       
}

.project-detail img {
	margin-bottom: 30px;
}

.project-detail dl { 
	margin: 2em; 
	margin-left:0; 
	width: 400px; 
	overflow: hidden; 
	line-height: 30px;
	font-weight: bold;
}

.project-detail dt {
	float: left;
	clear: left; width: 50px;
	margin-left:0;
	margin-right:30px;
	margin-bottom:7px;
	font-weight: normal;	
}

.project-detail dd {   
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom:7px;
}

.rating {
	color:#9FAB88;
}

/* **** GOOGLE MAP **** */

.project-detail-container-container .map-canvas {
	float:left;
	margin-left: 50px;
}

.project-detail-container-container .angular-google-map-container {
	width: 400px;
	height: 300px;
	position:absolute;
}

#big-map-container {
	width: 100%;
	height: 100%;
	position:absolute;
	text-align: center;

}

#big-map-container .angular-google-map-container {
	width: 100%;
	height: 100%;
	position:absolute; 

}

.marker-labels {
	background-color: white;
	box-shadow: 1px 1px 1px #999;
	border-radius: 2px;
	padding: 2px;	
}

#login-menu {
	position: fixed;
	top:0;
	right:0;
}

#only-img {
}


#project-edit-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    position: relative;
}

#project-edit-container input {
	width: 100%;
	margin-bottom: 20px;
}

#project-edit-container .save-btn-bar {
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
}

#project-edit-container .btn-success {
    background-color: #7fbc41;
    float: left;
}

#project-edit-container .btn-success:hover {
    background-color: #62962D;
}

#project-edit-container .btn-quit {
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

#project-edit-container .msg-saved {
    text-align: center;
    clear: both;
}

.modal-body-delete {
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 35px !important;
    padding-bottom: 10px !important;
}

.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

.no-thumb {
    width: 400px;
    height: 300px;
    line-height: 300px;    
    background-color: #eee;
    color: #ddd;
    text-align: center;
}

#project-list .no-thumb:hover {
    background-color: #f7f7f7;
    color: #eee;
}

#map-loading {
    z-index:1;
    position:absolute;
    width: 100%;
    height:100%;
    background: white;
}

#map-loading img {
    transform: translateY(-20%);
}

.loading-container {
    margin-left:auto;
    margin-right:auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


