body {
font: normal 12px Helvetica, Verdana;
margin:0px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
} 

body a {
color:black;
text-decoration: none;
text-align: left;
}

body a:hover {
color: #7fbc41;
text-decoration: none;

}

h1 {
font: bold 14px Verdana;
}

.link {
color:green;
}

#column1 {
z-index: 1000;
float:left;
position: fixed;
top:0px;
bottom:0px;
left:0px;
background:#F0F0F0;
text-align: center;
border-right: 1px solid #E0E0E0;
}

#column1 .menuitem {

border-top: 1px solid #E0E0E0;
border-bottom: 1px solid #E0E0E0;
padding-top: 7px;
padding-bottom: 7px;

}


#column1 img {

width: 80%;
margin-top:15px;
padding-bottom: 15px;

}

#column2 {
position: fixed;
top:0px;
bottom:0px;
left:80px;
background:#F8F8F8;
border-right: 1px solid #F0F0F0;
}

#column2 form {
	margin: 12px;
}

    .animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
    }
     
    .animate-enter.animate-enter-active {
    opacity: 1;
    }

#column2 p {
margin:20px;
}

#column2 input {
	width: 100%;
	margin-bottom: 20px;
}

#column3 {
float:right;
margin-top: 50px;
text-align: right;
}

#projectWrapper {
text-align: left;
width: 90%;
display: inline-block;
}

.project {

	border-radius: 3px;
	display: inline-block;
	margin: 10px 27px 10px 27px;
	background-color: white;
	
}

.project img {
	
	top: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}


.project img:hover {
	background-color: #bbb;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
}

.project .caption {
	margin: 9px 10px 10px 2px;
	padding-bottom: 15px;
	text-align: left;
}

.project .caption .project_name {
	color: #333;
	font-size: 13px;
	float: left;
}

.project .caption .project_architect {
	color: #888;
	font-size: 13px;
	margin-left:10px;
	float: left;
	
	
}


.closebutton {
position: absolute;
bottom:0px;
padding: 10px;
left: 0px;
right: 0px;
background: #FF6633;
text-align: center;
cursor: pointer;
}

.closebutton:hover {
color:black;
background-color: #FF5533;
}

.login {
position: fixed;
width:60px;
text-align: center;
bottom:0px;
padding: 10px;
border-top: 1px solid #E0E0E0;
cursor: pointer;
}

#login-bar {
vertical-align: top;
}
