body {
font: normal 12px Verdana;
margin:0px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
} 

body a {
color:black;
text-decoration: none;
text-align: left;
}

body a:hover {
color: #7fbc41;
text-decoration: none;

}

h1 {
font: bold 14px Verdana;
}

.link {
color:green;
}

#column1 {
z-index: 1000;
float:left;
position: fixed;
top:0px;
bottom:0px;
left:0px;
background:#F0F0F0;
text-align: center;
border-right: 1px solid #E0E0E0;
}

#column1 .menuitem {

border-top: 1px solid #E0E0E0;
border-bottom: 1px solid #E0E0E0;
padding-top: 7px;
padding-bottom: 7px;

}


#column1 img {

width: 80%;
margin-top:15px;
padding-bottom: 15px;

}

#column2 {
position: fixed;
top:0px;
bottom:0px;
left:80px;
background:#F8F8F8;
border-right: 1px solid #F0F0F0;
}

#column2 form {
	margin: 12px;
}

    .animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
    }
     
    .animate-enter.animate-enter-active {
    opacity: 1;
    }

#column2 p {
margin:20px;
}

#column2 input {
	width: 100%;
	margin-bottom: 20px;
}

#column3 {
color:red;
float:right;
margin-top: 50px;
text-align: right;
}

#projectWrapper {
text-align: left;
width: 90%;
display: inline-block;
}

.project {
display: inline-block;
width:400px;
height:300px;
margin:25px;
line-height: 300px;
}

.project img {
vertical-align:middle;
padding: 2px;
}

.project img:hover {
background-color: #bbb;
}

.closebutton {
position: absolute;
bottom:0px;
padding: 10px;
left: 0px;
right: 0px;
background: #FF6633;
text-align: center;
cursor: pointer;
}

.closebutton:hover {
color:black;
background-color: #FF5533;
}

.login {
position: fixed;
width:60px;
text-align: center;
bottom:0px;
padding: 10px;
border-top: 1px solid #E0E0E0;
cursor: pointer;
}

#login-bar {
vertical-align: top;
}
