<form ng-controller="AddCtrl" method="post" enctype="multipart/form-data">

 <label for="id_name">Project name</label>
 <input id="id_name" name="name" type="text" class="form-control" placeholder="Name..." ng-model="formData.name"/>

 <label for="id_architect">Architect</label>
 <input id="id_architect" name="architect" type="text" class="form-control" placeholder="Name..." ng-model="formData.architect"/>
 
 <label for="Autocomplete">Address</label>
 <input type="text" id="Autocomplete" class="form-control" ng-model="address" ng-autocomplete="gmapbox_result" details="gmapbox_details" />

 <label for="id_image">Image</label>
 <input id="id_image" name="image" type="file" file-model="image"/>

 <input type="submit" value="Submit" class="btn btn-default" ng-click="add()">
 
</form>

