<form action="/detail/" method="post" enctype="multipart/form-data">

<label for="id_name">Project name</label> <input id="id_name" name="name" type="text" class="form-control" placeholder="Name..."/>
<label for="id_architect">Architect</label> <input id="id_architect" name="architect" type="text" class="form-control" placeholder="Name..."/>
<label for="id_image">Image:</label> <input id="id_image" name="image" type="file" />

    <input type="submit" value="Submit" class="btn btn-default">
</form>
