<div ng-hide="mapLoaded" id="map-loading">
 <div class="loading-container">
  <div class="alert-info-loading">Loading... </div>
  <img src="/static/app/images/spinner.gif">
 </div>
</div>

<div id="big-map-container" ng-style="mapStyle()">
 <div class="map-canvas">
  <google-map
  center="map.center"
  zoom="map.zoom"
  draggable="true"
  dragging="map.dragging"
  events="map.events"
  options="map.options"
  pan="true"
  control="map.control"
  refresh="map.refresh"
  >
  <div ng-repeat="project in projects">
   <marker 
   control="map.markersControl"
   idKey="project.id"
   coords="{ latitude: project.latitude, longitude: project.longitude }"
   options="{title: project.name }"
   click='seeProject(project.id)'
   >
   </marker>
  </div>

  </google-map>	
 </div>
 <button ng-show="mapLoaded" type="button" class="btn btn-default btn-target" ng-click="target()">
     <span class="glyphicon glyphicon-map-marker"></span> <span class="glyphicon glyphicon-plus"></span>
 </button>
</div>