<div id="project-list">
<div id="projectWrapperOut" arkiwi-monitor-height>
	 <div infinite-scroll="nextPage()" infinite-scroll-distance='1' infinite-scroll-disabled="reachedEnd || busy" id="projectWrapperIn">
	  <div class="project" ng-repeat="project in projects | filter:toShow">
	   <a href="#/projects/{{project.id}}">
	    <div class="img-container">
	     <img ng-if=" project.thumbnail_file != '' " ng-src="/media/{{ project.thumbnail_file }}" class="fade-img"></img>
         <div ng-if=" project.thumbnail_file == '' " class="no-thumb fade-no-img"> no image </div>
		</div>
	    <div class="caption">
		 <div class="project_name"> {{ project.name }} </div>
	     <div class="project_architect"> {{ project.architect }} </div>
		</div>
	   </a>
	  </div>
	 </div>
	</div>
</div>

<div id="noresult"> 
 <div ng-show="noResult" class="alert alert-warning" role="alert"> No result! Please try a broader search</div>
</div>