<div id="project-list">
<div id="projectWrapperOut" arkiwi-monitor-height>
	 <div infinite-scroll="nextPage()" infinite-scroll-distance='1' infinite-scroll-disabled="reachedEnd || busy" id="projectWrapperIn">
	  <div class="project" ng-repeat="project in projects | filter:toShow">
	   <a href="#/projects/{{project.id}}">
	    <div class="img-container">
         <div ng-if=" project.thumbnail_file != '' " class="wiki-thumb"> 
	          <img  ng-src="/media/{{ project.thumbnail_file }}" class="fade-img"></img>
         </div>
         <div ng-if=" project.thumbnail_file == '' && project.wikipedia_image_url != '' " class="wiki-thumb" >
          <img ng-src="{{ project.wikipedia_image_url }}?width=400" class=" wiki-thumb-img fade-in" wiki-thumb-resize img-preload></img>

         </div>
         <div ng-if=" project.thumbnail_file == '' && project.wikipedia_image_url == '' " class="no-thumb fade-no-img"> no image </div>
		</div>
	    <div class="caption">
		 <div class="project_name"> {{ project.name | cut:true:30:'...' }} </div>
	     <div class="project_architect"> {{ project.architect | cut:true:25:'...'}} </div>
		</div>
	   </a>
	  </div>
	 </div>
	</div>
</div>

<div id="noresult"> 
 <div ng-show="noResult" class="alert alert-warning" role="alert"> No result! Please try a broader search</div>
</div>