<div class="project-detail-container-container">
 <div id="project-title-bar">
  <h1> {{ project.name }} </h1>
  <div ng-show="isLogged" class="btn-group">
    <button type="button" class="btn btn-default" ng-click="edit()">
        <span class="glyphicon glyphicon-pencil"></span>
        edit
    </button>
    <button type="button" class="btn btn-default" ng-click="">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
 </div>
 
 <div class="project-detail-container">
  <div class="project-detail"> 
  <a ng-click="open()">
   <img ng-src="/media/{{ project.thumbnail_file}}" class="fade-img zoom-in"></img>
  </a>
   <ul>
    <li>
     <h3>Infos</h3>
     <dl>
      <dt>Architect</dt>
      <dd>{{ project.architect }}</dd>
      <dt>Address</dt>
      <dd>{{ project.address }}</dd>
      <!-- <dt>Rating</dt>
       <dd>
       <rating class="rating" ng-model="myrate" max="5" readonly="isReadonly"></rating>
       </dd> -->
      </dl>
      <div>Published by {{ publisher.username }} <span ng-show="hasPubDate"> on {{ project.pub_date | datetime }}</span>
      </div>
     </li>
    </ul>
   </div>
   <div class="map-canvas">
    <google-map
    center="map.center"
    zoom="map.zoom"
    draggable="true"
    dragging="map.dragging"
    events="map.events"
    options="map.options"
    pan="true"
    control="map.control"
    refresh="map.refresh"
    >
     <marker 
     control="map.markersControl"
     idKey='1'
     coords='{ latitude: project.latitude, longitude: project.longitude }'
     options="map.marker.options"
     >
    </marker>
   </google-map>	
  </div>
 </div>
</div>

<!-- **** IMAGE POP-UP **** -->

<script type="text/ng-template" id="myModalContent.html">
 <div class="modal-body">
  <img ng-src="/media/{{image}}" class="modal-img"></img>
 </div>
 <div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Close</button>
 </div>
</script>
