<form ng-controller="SearchCtrl" id="search_form" ng-submit="search()">
<fieldset>


<div class="control-group">
  <label class="control-label" for=	"project_name"></label>
  <div class="controls">
    <input ng-model="project_name" id="project_name" name="project_name" type="text" placeholder="Project..." class="form-control">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="architect"></label>
  <div class="controls">
    <input ng-model="architect" id="architect" name="architect" type="text" placeholder="Architect..." class="form-control">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="owner"></label>
  <div class="controls">
    <input ng-model="address" id="address" name="address" type="text" placeholder="Country, City..." class="form-control">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="owner"></label>
  <div class="controls">
    <input ng-model="description" id="description" name="description" type="text" placeholder="Description..." class="form-control">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="owner"></label>
  <div class="controls">
    <input ng-model="owner" id="architect" name="owner" type="text" placeholder="Published by..." class="form-control">
  </div>
</div>

</fieldset>

<div class="btn-group">
	<button type="submit" class="btn">Search</button>
	<button type="button" class="btn" ng-click="searchboxHide()">Hide</button>
</div>
 


</form>